
  /* Sidebar */
  .sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    margin-top: 50px;
  }
  
  
  .sidebar .nav-links {
    height: 100%;
    width: 220px;
    
  }
  
  .sidebar .nav-links::-webkit-scrollbar {
    display: none;
  }
  
  .sidebar .nav-links li {
    list-style: none;
  }
  
 
  
  .sidebar .nav-links li:hover {
    background:  #2c3344;
  }
  
  
  .sidebar .nav-links li i {
    height: 20px;
    min-width: 30px;
    text-align: center;
    line-height: 50px;
    color:  #2c3344;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    display:flex;
  }
  
  .sidebar .nav-links li:hover i, 
  .sidebar .nav-links li.active i {
    color:  #d7dce9;
    
  }
  
 
  /* a Tag */
  .sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  /* Link Name */
  .sidebar .nav-links li a .link_name {
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    padding: 10px;
    margin-top: 5px;
  }
  
  .sidebar .nav-links li:hover a .link_name, 
  .sidebar .nav-links li.active a .link_name {
    color:  #ced2dd;
  }
  
  .sidebar.sidebar-close .nav-links li a .link_name {
    pointer-events: none;
  }
  
  /* Sub Menu */
  .sidebar .nav-links li .sub-menu {
    background:  #2c3344;
    display: none;
    transition: all 0.4s ease;
  }
  mat-icon{
    color: whitesmoke;
    margin: 5px;
  }
  .sub-menu-mat-icon{
    display:inline-flex;
    padding: 5px;
  }
   
  
  .sidebar .nav-links li.showMenu .sub-menu {
    display: block;
  }
  
  .sidebar .nav-links li .sub-menu a {
    color: #ffa726;
    font-size: 15px;
    padding: 7px 0;
    white-space: nowrap;
    transition: all 0.3s ease;
  }
  
  .sidebar .nav-links li .sub-menu li {
    padding-left: 10px;
  }

  
  .sidebar .nav-links li .sub-menu li:hover a, 
  .sidebar .nav-links li .sub-menu li.active a {
    color: white;
  }
  

  .sidebar.sidebar-close .nav-links li .sub-menu li {
    padding: 6px 15px;
    width: 100px;
  }

  .sidebar .nav-links li .sub-menu .link_name {
    display: none;
  }
  