
.box_shadow{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    
  }
  .btn-check{
      display: flex;
      margin: 0 0 0 0;	
      justify-content: space-between;
      text-align: center;
    border: none;
    border-radius: 6.4px 6.4px 0 0;
  }
  .btn-check::after{
    border: none;
    border-radius: 6.4px 6.4px 0 0;
  }
  
  .btn {
      padding: 7.2px 11.2px 7.2px 11.2px;
      font-size: 0.9rem;
      list-style: none;
      cursor: pointer;
      color: gray;
        // margin: 0 0.2rem 0 0;
      text-decoration: none;
      // bottom: none;
      background-color: white;
  }
  
  .btn:hover {
    color: rgb(83,44,171);
      font-weight: 500;
  }
  
  .btn:active {
  //   transform: translateY(4px);
    font-weight: 500;
    color:rgb(83,44,171);
      background-color: rgb(255, 255, 255);
      border-radius: 6.4px 6.4px 0 0;
  }
  
  .bg-color{
      background-color: rgb(237, 238, 253);
      border-radius: 0.3rem 0.3rem 0 0;
  }
  
  .for{
    font-size: 11.2px;
    font-weight: 500;
    color: white;
    height: 24px;
    padding: 4.8px 8px 4.8px 8px;
    background-color: rgb(251,68,132);
    border-radius: 0.2rem;
  }
  
  .name{
    font-weight: 500;
  }
  .location{
    font-weight: 500;
    font-size: 16px;
    color:gray;
    display:block;
  }
  .price{
    margin-top: 12.8px;
    font-weight: 600;
    font-size: 24px;
    color:rgb(83,44,171);
    display: inline-block;
  }
  .priceSqft{
    font-weight: 500;
    font-size: 12px;
    color:gray;
    margin-left: 3.2px;
  }
  
  .link{
    text-decoration: none;
    display: block;
    font-weight: 500;
    margin-top: 8px;
    color:rgb(83,44,171);
  }

  
  
  .image{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    display: inline-block;
    margin-top: -250px;
    margin-left: 350px;
  }

  mat-card{
    width: 480px;
    margin-left: 10px;

  }

