.compose-btn {
  background-color: #fff;
  color: #512da8;
  padding: 10px 25px;
  border-radius: 50px;
  box-shadow: 0 1px 8px -1px rgb(0 0 0 / 20%);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 12px;
}

i {
  padding-right: 10px;
}

mat-card-subtitle {
  padding-top: 10px;
}

mat-nav-list {
  padding: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.icons {
  margin: 4px;
  font-size: 20px;
}
.button {
  color: white;
  align-items: center;
  text-decoration: none;
  display: flex;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 10px;
  height: 30px;
  border: 0;
  width: 100px;
  border-radius: 0 10px 10px 0;
}

.button1 {
  background-color: white;
  color: black;
}

.button1:hover {
  background-color: #ff4081;
  color: white;
}

.link_name {
  font-size: 15px;
  color: #212121;
}
.logo {
  width: 153px;
  height: 60px;
  display: inline-block; 
}

.logo-name{
    padding-top: 40px;
    padding-left: 10px;
    
}
.btn{
    margin-top: 7px;
}

.icon{
    color: black;
}
mat-card {
  position: fixed;
  height: 100%;
  overflow-x: scroll;
  width: 180px;
  border: 1px solid rgba(128, 128, 128, 0.548);
  border-radius: 0%;
  margin-left: -1%;
}
/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

mat-card-subtitle {
  display: flex;
  font-size: 15px;
  font-weight: 200;
  color: #212121;
}

mat-icon {
  font-size: 20px;
  height: 30px;
  width: 30px;
  display: inline-block;
  align-self: center;
}

.icon{
    margin-top: 25px;
}

.button {
  color: white;
  align-items: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-size: 20px;
  height: 33px;
  border: 0;
  width: 100px;
  border-radius: 10 10px 10px 10;
}

.button1 {
  background-color: white;
  color: black;
}

.button1:hover {
  background-color: #ff4081;
  color: white;
}
