<div class="container">
    <div class="row">
        
      <div class="col-sm mb-2 mt-3">
          <mat-card >
            
              <h3 style="margin-top:-1rem">Your Current Plan</h3>
              <h1 style="font-weight: 700">$19</h1>
              <h1  style="font-weight: 500;" >/month</h1>
              <ul style="margin-right: 7rem">
               <li >Max listing items 2K</li>
               <li>Max agents - 10</li>
              </ul>
         
          </mat-card>
        </div>
